Jakob Voß <jakob.voss@gbv.de> <jakob@nichtich.de>
Jakob Voß <jakob.voss@gbv.de> <voss@gbv.de>
Johann Rolschewski <jorol@cpan.org> <rolschewski@gmail.com>
Julian Ladisch <julianladisch@users.noreply.github.com>
